<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://127.0.0.1/service" binding="basicHttpBinding" 
                contract="WCF.ServicePool.Contract.IService" name="Endpoint1" />
    </client>
  </system.serviceModel>
</configuration>