<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Discovery.Announcement">
        <endpoint kind="udpAnnouncementEndpoint" endpointConfiguration="" />
      </service>
    </services>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>