<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCF.ServicePool.Service.Service">
        <endpoint binding="basicHttpBinding" contract="WCF.ServicePool.Contract.IService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1/service" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
