<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="EndPoint0" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.32.193.44:3333/ChatService" binding="netTcpBinding"
          bindingConfiguration="EndPoint0" contract="QQApp.IChatService" name="EndPoint0">
        <identity>
          <dns value="10.32.193.44" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>