<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint name="calculatorservice"  kind="dynamicEndpoint" endpointConfiguration="dynamicEndpointWithScope" binding="ws2007HttpBinding" contract="Artech.ServiceDiscovery.Service.Interface.ICalculator"/>
        </client>
      <standardEndpoints>
        <dynamicEndpoint>
          <standardEndpoint name="dynamicEndpointWithScope">
            <discoveryClientSettings>
              <endpoint kind="udpDiscoveryEndpoint" endpointConfiguration="adhocDiscoveryEndpointConfiguration"/>
              <findCriteria>
                <scopes>
                  <add scope="http://www.artech.com/"/>
                </scopes>
              </findCriteria>
            </discoveryClientSettings>
          </standardEndpoint>
        </dynamicEndpoint>
        <udpDiscoveryEndpoint>
          <standardEndpoint name="adhocDiscoveryEndpointConfiguration" discoveryVersion="WSDiscovery11">
            <transportSettings duplicateMessageHistoryLength="2048"
                               maxPendingMessageCount="5"
                               maxReceivedMessageSize="8192"
                               maxBufferPoolSize="262144"/>
          </standardEndpoint>
        </udpDiscoveryEndpoint>
      </standardEndpoints>
    </system.serviceModel>
</configuration>