<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <connectionStrings>
    <add name="OmsDb" connectionString="Data Source=localhost\sql12;initial catalog=TC;user id=sa;password=ezetc" />
    <add name="ImsTenantDb" connectionString="Data Source=localhost\sql12;initial catalog=Ims_2_1VXA;user id=sa;password=ezetc" />
    <add name="ImsGlobalConfigDb" connectionString="Data Source=localhost\sql12;initial catalog=IMSGlobalConfig;user id=sa;password=ezetc" />
  </connectionStrings>
  <appSettings>
    <add key="OnPremiseFolder" value="C:\Program Files (x86)\EzeSoft\DataServices\bin" />
    <add key="IsConfigurationInitialized" value="false" />
    <add key="IsDSDataInitialized" value="false" />
    <add key="TenantFirmName" value="Test1" />
    <add key="TenantFirmRoleTemplate" value="" />
    <add key="TenantFirmAuthId" value="TBZQK" />
    <add key="TenantFirmUser" value="Test1" />
    <add key="TenantFirmUserPassword" value="0W0L0D4Pw" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.PubSubEvents" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF4.v14.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.2.20142.2081" newVersion="14.2.20142.2081" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>