<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eze.Ims.Automation.Framework" version="2.13.0.222" targetFramework="net45" />
  <package id="Eze.Ims.Platform" version="3.12.0.14" targetFramework="net45" />
  <package id="Eze.Ims.Platform.Automation" version="3.12.0.14" targetFramework="net45" />
  <package id="Eze.IMSDS.APITests.Shared" version="3.1.0.65" targetFramework="net45" />
  <package id="Eze.NetEx" version="3.12.0.14" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" />
  <package id="MSTestExtensions" version="3.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
</packages>