<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Strategy" value="EfficiencyFirst"/>
    <add key="MorningStartTime" value="09:00AM"/>
    <add key="MorningDuration" value="180"/>
    <add key="AfternoonStartTime" value="01:00PM"/>
    <add key="AfternoonDuration" value="240"/>
    <add key="InputFile" value="..\..\Input\input.txt"/>
  </appSettings>
</configuration>